@{
    ViewBag.Title = "Upload";
}

@section topnav {
    <ul class="btn-nav pull-right">
        <li><a href="@Url.Action("Index", "Home")" class="btn btn-success navbar-btn"><i class="glyphicon glyphicon-chevron-left"></i>Back to gallery</a></li>
    </ul>
}

<div class="row">
    <div class="well col-lg-8 col-lg-offset-2">
        <div id="uploadContainer">
            <div id="uploadBox">
            </div>
            <span>Drag files onto the box above to upload them</span>
			<ul class="block-list" data-bind="template: { name: 'upload-template', foreach: uploads }"></ul>
		</div>
    </div>
</div>

<script type="text/html" id="upload-template">
    <li><span>Uploaded: <small data-bind="text: Name"></small>.</span><span>Size: <small
        data-bind="text: Size"></small></span><span>Server path: <a data-bind="    attr: { href: Path }, text: Path"></a></span></li>
</script>


@section scripts {
    @Scripts.Render("~/bundles/uploader")
}