* {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  background-color: #120023;
  background-color: #11345B;
  background-image: url(../Images/background.png);
}
.navbar {
  margin-bottom: 2rem;
}
a.galleria-brand {
  color: #666;
  font-size: 2em;
  margin-top: 10px;
  display: inline-block;
}
a.galleria-brand:hover {
  text-decoration: none;
}
ul.btn-nav {
  display: inline-block;
  list-style-type: none;
  margin-top: 5px;
}
ul.btn-nav li {
  display: inline-block;
  padding-right: 1rem;
}
#uploadContainer {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  line-height: 1.25em;
  font-size: 1.5em;
  height: 20em;
}
#uploadBox {
  background: url('../images/cloudupload.png') no-repeat, url(../Images/background.png) #bbbbbb;
  background-position: center;
  border: 3px dashed rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
#uploadBox.over {
  background-color: #A4CF87;
}
ul.imageList {
  margin-top: 1em;
}
ul.imageList li {
  list-style-type: none;
  margin-bottom: 2em;
  float: left;
  display: inline-block;
  margin-right: 1em;
}
.imageSurround {
  background-color: white;
  box-shadow: 0 0 10px #888;
  padding: 3px;
  text-align: center;
}
.imageSurround .name {
  text-overflow: ellipsis;
  padding: 0.3em;
  color: #666;
}
.imageSurround .name a {
  float: right;
  display: inline-block;
  vertical-align: middle;
  line-height: 2em;
  color: #CCC;
}
.imageSurround .name a:hover {
  text-decoration: none;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
  color: #f00;
}
.field-validation-valid {
  display: none;
}
.input-validation-error {
  border: 1px solid #f00;
  background-color: #fee;
}
.validation-summary-errors {
  font-weight: bold;
  color: #f00;
}
.validation-summary-valid {
  display: none;
}
input[type="text"].search-query {
  background-color: rgba(0, 0, 0, 0.3);
  color: #eee;
  border: none;
  text-transform: lowercase;
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.5em;
}
